{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{city.id}}" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldYear">Movie Year</label>
            <input id="fldYear" type="text" class="form-control" placeholder="Movie Year" name="fldYear" value="{{city.fldYear}}">
        </div>
        <div class="col">
            <label for="fldRating">Rating</label>
            <input id="fldRating" type="text" class="form-control" placeholder="Rating"
                   name="fldRating" value="{{city.fldRating}}">
        </div>
        <div class="col">
            <label for="fldTitle">Title</label>
            <input id="fldTitle" type="text" class="form-control" placeholder="Title" name="fldTitle" value="{{city.fldTitle}}">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

