{% extends "layout.html" %}
{% block content %}
<form action="/cities/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldYear">Movie Year</label>
            <input id="fldYear" type="text" class="form-control" placeholder="Movie Year" name="fldYear">
        </div>
        <div class="col">
            <label for="fldRating">Rating</label>
            <input id="fldRating" type="text" class="form-control" placeholder="Rating"
                   name="fldRating">
        </div>
        <div class="col">
            <label for="fldTitle">Title</label>
            <input id="fldTitle" type="text" class="form-control" placeholder="Title" name="fldTitle">
        </div>
    </div>

      <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}

